:root {
  --primary-color: #1890FF;
  --primary-color-light: #A4D3FF;
  --secondary-color: #FF7631;
  --secondary-color-light: #FCCDB6;
  --secondary-color-light-extreme: #FFF7F3;
  --dark-color: #000000;
  --grey-color-light: #CCCCCC;
  --grey-color-light-extreme: #EEEEEE;  
  --light-color: #FFFFFF;
  --max-normal-page-width: 1280px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body {
  margin:auto;
  font-family: "Poppins", sans-serif;
}

button, input, textarea {
  font-size: inherit;
  font-family: inherit;
}